/**
 *
 * @title Notification
 * @description Used for any aside-type information, or alert boxes
 * @example
 * <p class="notification">
 *  Lorem Ipsum
 * </p>
 * @example
 * <p class="notification alert">
 *  Lorem Ipsum
 * </p>
 * @modifier .alert Signifies an important note
 *
 */
.notification {
    padding: 15px;
    margin: 15px;
    @extend %backdrop;
}
.notification.alert {
    background-color: var(--accent-red);
    color: white;
    border-color: var(--brand-red);
}